@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "merriweather", serif;
    box-sizing: border-box;
}
/* banner section style starta here  */
.banner-conteinar{
    width: 1320px;
    margin: 0 auto;
    min-height: 600px;
    border: 2px solid green;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.5),;
    background-image: url(../images/Banner\ Image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}
.banner-conteinar{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 600px;
    align-items: center;
    text-align: center;
}
.banner-conteinar p{
    color: aliceblue;
    font-size: 50px;
    font-weight: 700;

}
.banner-conteinar h1{
    color: aliceblue;
    font-size: 70px;
    font-weight: 900;

}